<!--CHARACTER CREATION-->
<content>


    <!--BEGINNING GENERATOR BUTTONS-->
    <section class="row">
        <div class="row border border-danger rounded ml-2 mr-2 flex justify-center   text-3xl border-2 border-black">
            <div class="col-4 ml-10">
                <div>
                    <button class="content-between ml-10 mr-10" id="dice-btn">Roll Stats</button>
                </div>
            </div>
            {{#if loggedIn}}
            <div class="col-4">
                <button class="content-between ml-10 mr-10" id="save-character">Save Character</button>
            </div>

            <div class="col-4">
                <button class="content-between ml-10 mr-10">Load Character</button>
            </div>
            {{else}}
            <p>Must be logged in to save characters</p>
            {{/if}}
        </div>

    </section>
    <!--END GENERATOR BUTTONS-->
</content>

<!-----------------------------------------------------------------------------CHARACTER STATS----------------------------------------------------------------------------->
<section class="flex justify-between">
    <!--------------------------------------------------------------------------------COLUMN #1-------------------------------------------------------------------------------->
    <!--BEGINNING CHARACTER STATS-->
    <nav class="col-4 border-black">


        <!--------------------------------------------------------------------------------INPUT STATS-------------------------------------------------------------------------------->
        <section class="grid grid-cols-2 gap-4">
            <!--EnterCharacter Name-->
            <div class="col-4 ml-2 flex space-x-4 ml-4">
                <label class="text-light ">Character Name</label><input type="text" name="character-name" id="name">
            </div>

            <!--START CLASS-->
            <div class=" ml-4 mt-2 flex justify-between">
                <label class="text-light ">Primary Class</label>
                <select name="Primary Class" id="class">
                    <option value="Warrior">Barbarian</option>
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Druid">Druid</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Monk">Monk</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Wizard">Wizard</option>
                    <option value="Artificer">Artificer</option>
                    <option value="Blood-Hunter">Blood Hunter</option>
                </select>
            </div>
            <!--END CLASS-->

            <!--START LEVEL-->
            <div class="col-4 ml-2  ">
                <div class="flex justify-between ml-2 mt-2">
                    <div class="">
                        <label class="text-light">Level</label>
                    </div>
                    <div class="col-8">
                        <input type="number" name="Level" min="0" id="level">
                    </div>
                </div>
            </div>
            <!--END LEVEL-->


            <!--START HITPOINTS-->
            <div class="col-4 ml-2  ">
                <div class="flex justify-between ml-2 mt-2">
                    <div class="col-4">
                        <label class="text-light">Hit Points</label>
                    </div>
                    <div class="col-8">
                        <input type="number" name="Hit Points" min="0" id="hit-points">
                    </div>
                </div>
            </div>
            <!--END HITPOINTS-->


            <!--START RACE-->
            <div class="col- ml-2 mb-2 mt-2 flex justify-between">
                <label class="text-light ">Select Race</label>
                <select name="Race" id="race">
                    <option value="none" selected disabled hidden>Choose</option>
                    <option value="Dragonborn">Dragonborn</option>
                    <option value="Dwarf">Dwarf</option>
                    <option value="Elf">Elf</option>
                    <option value="Gnome">Gnome</option>
                    <option value="Half-Elf">Half-Elf</option>
                    <option value="Halfling">Halfling</option>
                    <option value="Half-Orc">Half-Orc</option>
                    <option value="Human">Human</option>
                    <option value="Tiefling">Tiefling</option>
                </select>
            </div>
            <!--START RACE-->


            <!--START AUGMENT-->
            {{!-- <div class="col-4 flex justify-between ml-2 mb-2">
                <label class="text-light">Augment</label>
                <input type="number" name="Hit Points" min="0">
            </div> --}}
            <!--END AUGMENT-->


            <!--START ARMOR CLASS-->
            <div class="col-4 flex justify-between ml-2">
                <label class="text-light">Armor Class</label>
                <input type="number" name="Armor-Class" min="0" id="armor-class">
            </div>
            <!--END ARMOR CLASS-->
        </section>

        <!--------------------------------------------------------------------------------DICE STATS-------------------------------------------------------------------------------->
        <!--START CHARACTER STAT CARDS-->
        <section class=" grid grid-cols-3 gap-4">


            <!--START STRENGTH STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="strength">Strength</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <p id="str">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="strength">this is where your dice go</div>
            </div>
            <!--END STRENGTH STAT-->


            <!--START DEXTERITY STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="dexterity">Dexterity</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <p id="dex">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="dexterity">this is where your dice go</div>
            </div>
            <!--END DEXTERITY STAT-->


            <!--START CONSTITUTION STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="constitution">Constitution</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <p id="con">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="constitution">this is where your dice go</div>
            </div>
            <!--END CONSTITUTION STAT-->


            <!--START INTELLIGENCE STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="intelligence">Intelligence</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <p id="int">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="intelligence">this is where your dice go</div>
            </div>
            <!--END INTELLIGENCE STAT-->


            <!--START WISDOM STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="wisdom">Wisdom</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <pid="wis">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="wisdom">this is where your dice go</div>
            </div>
            <!--END WISDOM STAT-->


            <!--START CHARISMA STAT-->
            <div class="flex justify-between ml-2 mb-2 stat-button ">
                <h3 class="charisma">Charisma</h3>
            </div>

            <div class="flex justify-between  border border-danger border-solid rounded stat-button ">
                <!--THIS IS WHERE BONSUSES GO-->
                <p id="cha">this is where your bonuses go</p>
            </div>

            <!--DICE INSERT-->
            <div class="container border border-danger rounded stat-button">
                <div class="container" id="charisma">this is where your dice go</div>
            </div>
            <!--END CHARISMA STAT-->


        </section>
        <!--END CHARACTER STAT CARDS-->


    </nav>
    <!--END CHARACTER STATS-->


    <!--------------------------------------------------------------------------------COLUMN #2-------------------------------------------------------------------------------->
    <!--BEGINNING DICE TRAY + CHARACTER IMAGE-->
    <article class="col-4">
        <div>
            <div class="row">
                <!--Dice Pool-->
                <div class="container draggable border-black border-2 justify-center mb-6 shadow-lg shadow-black" style="background-image: url(/img/dice/dicetray_4.png)">
                    <!-- <img src="/img/dice/dicetray_4.png" alt="Dice Tray"> -->
                    <!--Draggable Dice go here-->
                    <div id="dice-tray"></div>
                </div>
            </div>

            <!--CHARACTER IMAGE INSERT-->
            <div flex-row>
                <div class="border-black border-2 shadow-2xl shadow-black justify-center">
                    <img src="/img/characters_images/elf-5636466_1920.png" alt="Character Image" width="300"
                        height="300">
                </div>
            </div>
        </div>
    </article>
    <!--END DICE TRAY + CHARACTER IMAGE-->
    <script src="/javascript/stats.js"></script>
    <script src="/javascript/draggable.js"></script>