<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Dungeons and Dragons Character Generator</title>

    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap">
    <link rel="stylesheet" href="../../public/css/DndStyles.css">
    <style>
        * {
            font-family: 'BIZ UDMincho', serif;
        }
    </style>


    <!-- CSS only -->
    <link href="../../public/css/DndStyles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>



<body class="bg-neutral-400/[.6]">
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6"></div>
    </div>

    <!-- Width of 16 by default, 32 on medium screens, and 48 on large screens -->
    <!--<img class="w-16 md:w-32 lg:w-48" src="...">-->
    <!--Title-->
    <header>
        <h1 class="text-light text-2xl ml-2 text-decoration-underline">Dungeons and Dragons Character Generator</h1>
        <!--header end tag?--->

        <!--Navigation Bar-->
        <nav>

            <!--<div class="flex place-content: space-between;">
            <div class="col-3 nav-buttons ml-4 mr-2">
                <a class="text-light">Learn More</a>
            </div> -->

            <div class="flex place-content: space-around justify-end">
                <div class="col-3 nav-buttons ml-2 mr-2">
                    <a href="/" class="text-light">Character Sheet Generator</a>
                </div>

                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <div class="col-3 nav-buttons text-lg ml-2 mr-5">
                    <a href="/login" class="text-light">Sign Up/Login</a>
                </div>
                {{/if}}
            </div>
        </nav>
    </header>
        <!--BEGINNING BANNER-->
    <section>
        <div>
            <img class="text-light border-2 border-black ml-2"src="../img/dnd-banner.jpg" alt="traveler on a horse entering the castle gates">
        </div>

        <!--How it works section/maybe some instructions-->
        <div>
            <h2 class="text-light ml-2">Learn More</h2>
            <p class="text-light text-black-600 border border-danger rounded ml-2">Welcome to our Dungeons and Dragons Character Generator. </p>
        </div>
    </section>
    <!--END BANNER-->

    <main>
        {{{ body }}}
    </main>


    <!----------------------------------------------------------------------------COPYRIGHT + LINKS---------------------------------------------------------------------------->
    <!--BEGINNING FOOTER-->
    <footer class="border  rounded">
        <a class="text-light ml-2" src="https://company.wizards.com/en/legal/fancontentpolicy">Wizards of the Coast
            Fan
            Content Policy</a>
        <p><strong>Dungeons & Dragons Character Generator</strong> by <a
                href="https://travisswift.github.io/portfolio/">Travis Swift</a>, <a
                href="https://sacylkowski.github.io/my-portfolio/">Sarah Cylkowski</a>, <a href="">Alexander Lu</a>,
            <a href="">Erik Rockenmeyer</a>, and <a href="">Stephen Fike</a>.
        </p>
    </footer>
    <!--END FOOTER-->

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>