<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Dungeons and Dragons Character Generator</title>

    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap">
    <link rel="stylesheet" href="../../public/css/DndStyles.css">
    <style>
        * {
            font-family: 'BIZ UDMincho', serif;
        }
    </style>


    <!-- CSS only -->
    <link href="../../public/css/DndStyles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>



<body class="bg-neutral-400/[.6]">
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6"></div>
    </div>

  
   
    <!--Title-->
    <header>
        <h1 class="text-2xl ml-2 text-decoration-underline text-center justify-items-center">Dungeons and Dragons Character Generator</h1>
       

        <!--Navigation Bar-->
        <nav>

            <div class="row border border-danger rounded ml-2 mr-2 flex justify-center  text-3xl border-2 border-black gap-10">
                <div class="col-3 nav-buttons ml-2 mr-2">
                    <a href="/learnmore" class="text-light">Learn More</a>
                </div>

                <div class="col-3 nav-buttons ml-2 mr-2">
                    <a href="/" class="text-light">Character Sheet Generator</a>
                </div>

                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <div class="col-3 nav-buttons ml-2 mr-2">
                    <a href="/login" class="text-light">Login</a>
                </div>
                {{/if}}
            </div>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>


    <!----------------------------------------------------------------------------COPYRIGHT + LINKS---------------------------------------------------------------------------->
    <!--BEGINNING FOOTER-->
    <footer class="border  rounded">
        <a class="text-light ml-2" src="https://company.wizards.com/en/legal/fancontentpolicy">Wizards of the Coast
            Fan
            Content Policy</a>
        <p><strong>Dungeons & Dragons Character Generator</strong> by <a
                href="https://travisswift.github.io/portfolio/">Travis Swift</a>, <a
                href="https://sacylkowski.github.io/my-portfolio/">Sarah Cylkowski</a>, <a href="">Alexander Lu</a>,
            <a href="">Erik Rockenmeyer</a>, and <a href="">Stephen Fike</a>.
        </p>
    </footer>
    <!--END FOOTER-->

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>
