!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeons and Dragons Character Generator</title>
    
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'BIZ UDMincho', serif;
        }


    </style>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../public/css/DndStyles.css" rel="stylesheet">
</head>

<body class="bg-dark bg-gradient">
    <!--Title-->
    <header>
        <h1 class="text-light text-decoration-underline">Dungeons and Dragons Character Generator</h1>
    </header>

    <!--Navigation Bar-->
    <nav>
        <div class="row border border-danger rounded">
            <div class="col-3 nav-buttons">
                <a class="text-light">Learn More</a>
            </div>

            <div class="col-3 nav-buttons">
                <a class="text-light">Character Sheet Generator</a>
            </div>

            <div class="col-3 nav-buttons">
                <a class="text-light">Sign Up</a>
            </div>

            <div class="col-3 nav-buttons">
                <a class="text-light">Login</a>
            </div>
        </div>
    </nav>

    <!--Splash Page-->
    {{> learnmore}}

    <!--Generator Buttons-->
    <section>
        <div class="row border border-danger rounded">
            <div class="col-4">
                <div>
                    <button class="justify-content-center">Roll Character</button>
                </div>
            </div>


            <!--CHECK if logged in-->

            {{#if loggedIn}}
            <div class="col-4">
                <button class="">Save Character</button>
            </div>

            <div class="col-4">
                <button class="">Load Character</button>
            </div>
            {{else}}
            <p>Must be logged in to save characters</p>
            {{/if}}
        </div>

    </section>


    <!--CHARACTER CREATION STATS-->
    {{> stats}}

    <!--Footer-->
    <footer class="border border-danger rounded">
        <!--Insert Copyright-->
        <a class="text-light"src="https://company.wizards.com/en/legal/fancontentpolicy">Wizards of the Coast Fan Content Policy</a>
    </footer>
    
</body>
</html>