<!--CHARACTER CREATION-->
<content>


    <!--BEGINNING GENERATOR BUTTONS-->
    <section class="row">
        <div
            class="row border border-danger rounded ml-2 mr-2 mb-2 flex justify-center border-2 border-black  md:text-3xl">
            <div class="col-4 ml-10">
                <div>
                    <button class="content-between ml-10 mr-10" id="dice-btn">Roll Stats</button>
                </div>
            </div>
            {{#if loggedIn}}
            <div class="col-4">
                <button class="content-between ml-10 mr-10" id="save-character">Save Character</button>
            </div>

            <div class="col-4">
                <button class="content-between ml-10 mr-10">Load Character</button>
            </div>
            {{else}}
            <p>Must be logged in to save characters</p>
            {{/if}}
        </div>

    </section>
    <!--END GENERATOR BUTTONS-->
</content>

<!--CHARACTER CREATION STATS-->
<div class="grid grid-cols-6 justify-items-center">
    <div class="col-span-6 lg:col-span-5">{{> stats}}</div>

    <div class="col-span-6 lg:col-span-1"> 
        {{#if loggedIn}}
        {{> characters}}
        {{/if}}
    </div>

</div>