<!--BEGINNING BANNER-->
<section>
    <!--How it works section/maybe some instructions-->
    <div>
        <h2 class="text-4xl ml-2 text-center pb-15 text-decoration-line: underline">D&D Resource Page</h2>
    </div>
    <ul class="text-center text-xl pb-10">
        <li><a href="https://company.wizards.com/en">Wizards of the Coast</a></li>
        <li><a href="https://dnd.wizards.com/">D&D Offical Website</a></li>
        <li><a href="https://dnd.wizards.com/resources/downloadable-resources">Downloadable Resources</a></li>
        <li><a href="https://www.heroforge.com/">Custom Miniatures</a></li>
    </ul>
</section>
<!--END BANNER-->
