<section>
        <div>
            <img class="text-light "src="../img/dnd-banner.jpg" alt="traveler on a horse entering the castle gates">
        </div>

        <!--How it works section/maybe some instructions-->
        <div>
            <h2 class="text-light">Learn More</h2>
            <p class="text-light border border-danger rounded">Welcome to our Dungeons and Dragons Character Generator. </p>
        </div>
    </section>