  <!--BEGINNING BANNER-->
    <section>
        <div>
            <img class="text-light border-2 border-black ml-2"src="../img/dnd-banner.jpg" alt="traveler on a horse entering the castle gates">
        </div>

        <!--How it works section/maybe some instructions-->
        <div>
            <h2 class="text-light ml-2">Learn More</h2>
            <p class="text-light text-black-600 border border-danger rounded ml-2">Welcome to our Dungeons and Dragons Character Generator. </p>
        </div>
    </section>
    <!--END BANNER-->